/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Header Start */
header {
    border-bottom: 1px solid #E5E5E5;
}

.logo a:hover span {
    color: #F79918;
    transition: 0.2s;
}

.humburger span {
    display: block;
    width: 30px;
    height: 2px;
    background: black;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: auto;
    transition: 0.2s ease-in;
}

.humburger:hover span {
    cursor: pointer;
}

.humburger:hover span:nth-child(1) {
    transform: translatey(3px);
    transition: 0.2s ease-in;
}

.humburger:hover span:nth-child(3) {
    transform: translateY(-3px);
    transition: 0.2s ease-in;
}

.header-form {
    position: relative;
}

.header-form input {
    padding-left: 40px;
    height: 38px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.header-form input:focus {
    border: 1px solid #000000;
    outline: none;
}

.header-form-icon {
    position: absolute;
    top: 14px;
    left: 16px;
    color: #ccc;
    font-size: 12px;
}

.header-social i {
    font-size: 13px;
}

/* Header End */

/* Banner Start */
.banner {
    padding: 80px 0;
}

.banner-catagory .date {
    color: #999;
}

.slider-content {
    color: #888;
    font-size: 14px;
    line-height: 1.6;
}

.owl-theme .owl-nav {
    display: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #F79918;
}

/* Banner End */

/* Blog section start */
.blog {
    padding: 80px 0;
}

.blog h5 {
    font-size: 16px;
    font-weight: 700;
}

/* Blog section End */


/* Topic Section Start */
.topic {
    padding: 80px 0;
}

.topic h6 {
    font-size: 17px;
}

.owner {
    font-size: 16px !important;
}

.owner-content {
    font-size: 14px;
}

/* Topic Section End */

/* popular post start */
.popular-post {
    padding: 80px 0;
}

.banner-2-content {
    font-size: 16px;
}

.subscribe {
    background: #F8F9FA;
    padding: 60px 0;
}

.subscribe input {
    padding: 12px 0px 12px 20px;
    width: 70%;
    margin-right: 13px;
    border: 1px solid #CCCCCC;
}

.subscribe input:focus {
    outline: none;
    border: 1px solid #000000;
}

.subscribe button {
    padding: 16px 120px;
    border: transparent;
    background: #F79918;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    transition: 0.5s;
}

.subscribe button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
    color: #F79918 !important;
    transition: 0.5s;
}

/* popular post End */

/* Footer Social Start */
footer {
    padding: 80px 0;
}

.footer-social a {
    font-size: 14px;
    background: #ccc;
    padding: 10px 0;
    width: 40px;
    display: inline-block;
    border-radius: 15px;
    color: black;
    transition: 0.4s;
}

.footer-social a:hover {
    background: #F79918;
    color: white;
    transition: 0.4s;
}

footer p {
    color: #888888;
}

.love {
    color: red;
}

.footer-hover {
    color: #888888;
    text-decoration: none;
    border-bottom: 2px solid #fde6c7;
    transition: 0.4s;
}

.footer-hover:hover {
    color: #000000;
    border-bottom: 2px solid #F79918;
    transition: 0.4s;
}

/* Footer Social End */